<div data-role="page">
	<div data-role="header"><h1>Listing songs</h1> </div>
<div data-role="content">
	<table>
	  <tr>
	    <th>Artist</th>
	    <th>Title</th>
	    <th>Lyrics</th>
	  </tr>
	
	<% @songs.each do |song| %>
	  <tr>
	    <td><%=h song.artist_id %></td>
	    <td><%=h song.title %></td>
	    <td><%=h song.lyrics %></td>
	    <td><%= link_to 'Show', song %></td>
	    <td><%= link_to 'Edit', edit_song_path(song) %></td>
	    <td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
	
	<br />
</div>	
	<div data-role="footer" class="ui-bar">
		<div data-role="navbar" class="ui-bar" data-grid="d"</div>
		<div data-role="controlgroup" data-type="horizontal" data-theme="d">
		<div class="listbottombutton"> 	
		<%= link_to 'New song', new_song_path %>
		<%= link_to 'Back', songs_path %>
		</div>
	</div>
	
</div>


