<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family:Georgia,Georgia,serif;">

  <h1>Skimbeat</h1>

  <p>
    &nbsp;Administrator,
  </p>

    An exception <%= @exception %> has occured at <%= Time.now() %> on Skimbeat.<br/>
	
	<p>
		Exception: <br/>
		<%= @exception %>
	</p>
	
	<p>
		Trace: <br/>
		<%= @trace %>
	</p>
	
	<p>
		Params: <br/>
		<%= @params %>
	</p>
	
	<p>
		Request: <br/>
		<%= @request %>
	</p>
	
	<p>
		Session: <br/>
		<%= @session %>
	</p>
		
  <p>
  	&nbsp;-The Skimbeat Server
  </p>
  </body>
</html> 
